
{% extends 'generic/object_list.html' %}
{% load buttons %}
{% load helpers %}
{% load custom_links %}
{% load plugins %}
{% load perms %}
 

{% block title %}DHCP List{% endblock %}


{% block extra_controls %}  
  {% if perms.dhcp.add_dhcp %}
    <a href="{% url 'plugins:dhcp:dhcp_add' %}?vrf={{ object.vrf.pk }}" class="btn btn-sm btn-success">
      <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add 
    </a>    
  {% endif %}
  {% if perms.ipfixo.import_dhcp %}
    <a href="{% url 'plugins:dhcp:dhcp_import' %}?vrf={{ object.vrf.pk }}" class="btn btn-sm btn-info">
      <i class="mdi mdi-upload" aria-hidden="true"></i> import
    </a>    
  {% endif %}
  {% endblock%}  


{% block tab_items %}
{% if perms.dhcp.add_dhcp %}
  <div class="card-body">	
    <div class="table-responsive">	       
      {% include 'utilities/obj_table.html' with bulk_delete_url='plugins:dhcp:dhcp_bulk_delete' %}
    </div>
  </div>
  {% endif %}
{% endblock %}



