{% extends 'generic/object_list.html' %}
{% load buttons %}
{% block content %}
{% with config=settings.PLUGINS_CONFIG.dhcp %}
<div class="pull-right noprint">
    {% add_button 'plugins:dhcp:ipfixo_add' %}
    <!-- botao de componentes aqui -->
	{% if perms.dhcp.change_dhcp%}
    
    {% endif %}
    <!-- fim_botao componentes -->
</div>
<h1>{% block title %}Fixed Address List{% endblock %}</h1>
<div class="row">	
	<div class="col-md-9 noprint">	       
    {% include 'utilities/obj_table.html' with bulk_delete_url='plugins:dhcp:ipfixo_bulk_delete' %}
    
    </div>
</div>
{% endwith %}
{% endblock %}