
{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% block content %}
{% load custom_links %}
{% load plugins %}

{% with config=settings.PLUGINS_CONFIG.dhcp %}
<div class="pull-right noprint">    
    {% add_button 'plugins:dhcp:dhcp_add' %}
    <!-- botao de componentes aqui -->
    {% if perms.dhcp.change_dhcp%}{% endif %}
    {% if request.user.is_authenticated and table_config_form %}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#tableconfig" title="Configure table"><i class="fa fa-cog"></i> Configure</button>
    {% endif %}
    <div class="clearfix"></div>
    {% if table_config_form %}
            {% include 'inc/table_config_form.html' %}
        {% endif %}
    <!-- fim_botao componentes -->
</div>
<h1>{% block title %}Lista de DHCPs{% endblock %}</h1>
<div class="row">	
	<div class="col-md-9 noprint">	       
    {% include 'utilities/obj_table.html' with bulk_delete_url='plugins:dhcp:dhcp_bulk_delete' %}
    
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Components <span class="caret"></span>
        </button>
         <ul class="dropdown-menu">
             {% if perms.dhcp.add_responsavel %}
                <li><a href="{% url 'plugins:dhcp:responsavel_add' %}">Add Responsavel</a></li>
                <li><a href="{% url 'plugins:dhcp:ipfixo_add' %}?ipfixo={{ id_prefixes.pk }}&return_url={{ ipfixo.get_absolute_url }}">Add IP fixo</a></li> 
            {% endif %}
        </ul>
        
    </div>
      
	<div class="col-md-3 noprint">
		{% include 'inc/search_panel.html' %}
	</div>
</div>
{% endwith %}
{% endblock %}



