{% extends 'base.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load custom_links %}
{% load plugins %}

{% block title %}{{ responsavel }}{% endblock %}
{%block content%}
<div class="row">
    <div class="col-md-6">
        {% if responsavel %}
        <!-- {% if services %} -->
                    <table class="table table-hover panel-body">
                        {% for responsavel in responsaveis %}
                            {% include 'dhcp/resp.html' %}
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="panel-body text-muted">
                        None
                    </div>
                {% endif %}
                <!-- {% if perms.dhcp.add_responsavel %} -->
                    <div class="panel-footer text-right noprint">
                        <a href="{% url 'plugins:dhcp:responsavel' responsavel=responsavel.pk %}" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Assign responsavel
                        </a>
                    </div>
                <!-- {% endif %} -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Images</strong>
                </div> 
            </div> 
        </div> 
    </div>
</div>
{% endblock %}