{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% block content %}
<h1>teste</h1>
<div class="row noprint">
    <div class="col-sm-8 col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'dhcpd:dhcp_list' %}">lista de dhcps</a></li>            
            <li>{{ dhcp.prefixes}}</li>
            <h1>teste2</h1>
        </ol>
    </div>
    <div class="col-sm-4 col-md-3">
        <form action="{% url 'dhcpd:dhcp_list' %}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search dhcp" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                    <h1>teste3</h1>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% plugin_full_width_page dhcp %}
        <h1>teste4</h1>
    </div>
</div>
{% endblock %}